<nav class="uk-navbar nav_heigth">
  <div class="uk-navbar-flip uk-height-1-1 uk-flex uk-flex-middle">
      <ul class="uk-navbar-nav uk-margin-large-right uk-height-1-1 uk-flex uk-flex-middle">
        <% if logged_in? %>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
        <% end %>
        <li>
          <ul class="uk-subnav uk-subnav-line">
            <li>
              <a onclick="test('ru')"> RU </a>
            </li>
            <li>
              <a onclick="test('en')"> EN </a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>


